*{
	margin: 0;
	padding: 0;
}
html{
	background-color: rgb(0,0,0);
}
body header{
	text-align: end;
	margin-right: 10px;
}
.logo{
	border:solid;
	border-radius: 10%;
	margin-bottom: 25px;
	color: rgb(255,255,255);
	width: 60px;
	height: 60px;
}
.titulo{
	width: 200px;
}
.sinapsis{
width: 98%;
height: 200px;
margin:auto;
padding-bottom: 20px;
}
.sinapsis div > p {
	color: white;
	font-size: 25px;
	width: 98%;
	text-align: center;
}

.sinapsis div > iframe {
padding: 0px 25px 25px 25px;
float: left;
}


.container{
	background-image: url(https://www.adslzone.net/app/uploads-adslzone.net/2019/07/windows-10-negro.jpg);
	margin-top: 150px;
	width: 100%;
	height: auto;
}
.container li{
	margin-left: 20px;
	margin-top: 10px;
	list-style: none;
	padding: 1em;
	display:inline-block;
	background-color: rgb(100, 200, 300);
}
.container li ol > a{
	text-decoration: none;
	color: rgb(0,0,0);
	font-size: 20px;
}

.capitulos{
	width: 100%;
	text-align: center;
}
.capitulos div{
	color: rgb(255,255,255);
	display: inline-block;
	width: 150px;
	height: 200px;
	margin: 25px;
}
.capitulos div > img{
	width: 150px;
	height: 200px;
	}
.capitulos div a{
	position: absolute;
	margin-top: -205px;
	margin-left: -124px;
	width: 150px;
	height: 200px;
	}


footer{
	background-color: rgb(88, 82, 80);
	width: 100%;
	height: 300px;
	margin-top: 90%;
}

footer div{
	font-size: 50px;
	text-align: center;
	color: white;
	width: 100%;
	height: 100%;
}
footer div > p{
	padding-top: 10%; 
	}